<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <!-- Google icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <style>
      .authDetail {
        display: flex;
        flex-direction: column;
        align-items: end;
      }
      .imageContainer {
        width: 100%;
      }
      .blogImage {
        width: 100%;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <%- include('navbar', {categories, isAuthenticate, admin})%>

    <!-- Message -->
    <%- include('message', {successMessage, errorMessage})%>

    <div class="d-flex justify-content-center">
      <div style="padding: 30px 350px">
        <div>
          <h1><%=blogData.blogTitle%></h1>
        </div>
        <div class="imageContainer">
          <img
            class="blogImage"
            src="http://localhost:3000/<%= encodeURI(blogData.image) %>"
            alt="Blog image"
          />
        </div>
        <div class="authDetail">
          <div>
            <strong><%=blogData.author%></strong>
          </div>
          <div class="mb-1 text-muted">
            <small>Last Update: </small>
            <small>
              <% const dateObj = new Date(blogData.updatedAt); %> <% const month
              = dateObj.toLocaleString('default', { month: 'long' }); %> <%
              const year = dateObj.getFullYear(); %> <%= month %>, <%= year %>
            </small>
          </div>
        </div>

        <div><%-blogData.description%></div>
        <%if(isAuthenticate) {%>
        <div class="d-flex justify-content-between">
          <div>
            <a href="update/?id=<%= encodeURIComponent(blogData.blog_id)%>"
              ><button class="btn btn-primary">Update</button></a
            >
          </div>
          <div>
            <a href="delete/?id=<%= encodeURIComponent(blogData.blog_id)%>">
              <button class="btn btn-danger" type="submit">Delete</button>
            </a>
          </div>
        </div>
        <%} %>
      </div>
    </div>
    <div>
      <%- include('blogComments', {user, blogId:blogData?.blog_id,
      comments:blogData?.comments })%>
    </div>
    <!-- Bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- custom js -->
    <!-- <script>
      window.addEventListener("popstate", function (event) {
        // Your code to handle the popstate event here
        alert("hello world");
        console.log("User navigated back or forward");
      });
    </script> -->
  </body>
</html>
